@using System.Security.Claims;
@{
    ViewData["Title"] = "Crypto Dashboard";
}

<div>
    <h6 class="display-4">Hoşgeldin,<strong>@Context.User.FindFirstValue(ClaimTypes.Name)</strong></h6>
</div>

<div class="row mt-5">
    <div class="col col-12">
        <input type="date" onchange="getChartsFromApi();" id="startDate" value="@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")" />
        <input type="date" onchange="getChartsFromApi();" id="endDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        <button type="button" class="btn btn-sm btn-primary" id="filterBtn" onclick="getChartsFromApi();">Filtrele</button>
    </div>
    <div class="col col-sm-12 col-md-6">
        <div id="daily_chart" style="width: 900px; height: 500px"></div>
    </div>
    <div class="col col-sm-12 col-md-6">
        <div id="weekly_chart" style="width: 900px; height: 500px"></div>
    </div>
    <div class="col col-sm-12 col-md-6">
        <div id="monthly_chart" style="width: 900px; height: 500px"></div>
    </div>
</div>